acepack
AnnotationDbi
assertthat
base64
base64enc
BH
Biobase
BiocCheck
BiocGenerics
BiocInstaller
BiocStyle
biocViews
bitops
chron
colorspace
crayon
curl
data.table
DBI
dendextend
DEoptimR
devtools
dichromat
digest
diptest
doParallel
doSNOW
dplyr
DT
evaluate
flexmix
foreach
formatR
Formula
fpc
fpc 
gdata
getopt
ggplot2
git2r
gplots
graph
gridBase
gridExtra
gridExtra
gsubfn
gtable
gtools
hexbin
highr
Hmisc
htmlTable
htmltools
htmlwidgets
httpuv
httr
igraph
impute
IRanges
iterators
itertools
jsonlite
kernlab
knitr
labeling
latticeExtra
lazyeval
log4r
magrittr
mclust
mclust
memoise
mime
modeltools
munsell
mvtnorm
mvtnorm
openssl
optparse
pkgmaker
plotly
plumber
plyr
png
prabclus
proto
pryr
R.methodsS3
R.oo
R6
ramnathv/rCharts
RBGL
RColorBrewer
Rcpp
RCurl
registry
reshape2
rJava
rjson
RJSONIO
rngtools
robustbase
robustbase
RSQLite
rstudioapi
RUnit
S4Vectors
scales
snow
sourcetools
sqldf
stringdist
stringi
stringr
survival
testthat
tibble
tidyr
trimcluster
viridis
viridis
whisker
withr
XML
xtable
yaml
