AnnotationDbi
assertthat
base64enc
BH
Biobase
BiocCheck
BiocGenerics
BiocInstaller
BiocStyle
biocViews
bitops
chron
colorspace
crayon
curl
DBI
devtools
dichromat
digest
doParallel
doSNOW
dplyr
DT
evaluate
foreach
formatR
fpc
gdata
getopt
ggplot2
git2r
gplots
graph
gridBase
gridExtra
gsubfn
gtable
gtools
hexbin
highr
htmltools
htmlwidgets
httpuv
httr
igraph
impute
IRanges
iterators
itertools
jsonlite
knitr
labeling
lazyeval
log4r
magrittr
mclust
memoise
mime
munsell
mvtnorm
openssl
optparse
pkgmaker
plotly
plumber
plyr
png
proto
pryr
ramnathv/rCharts
R.methodsS3
R.oo
R6
RBGL
RColorBrewer
Rcpp
RCurl
registry
reshape2
rJava
rjson
RJSONIO
rngtools
robustbase
RSQLite
rstudioapi
RUnit
S4Vectors
scales
snow
sourcetools
sqldf
stringdist
stringi
stringr
testthat
tibble
tidyr
viridis
whisker
withr
XML
xtable
yaml
